.DS_Store
output/
ops_test/

# Python package artifacts
*.egg-info/
dist/
build/
__pycache__/
*.py[cod]
*$py.class
.eggs/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.sublime-*